/* line 1, ../scss/_grid.scss */
.row {
  width: auto;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* line 7, ../scss/_grid.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 12, ../scss/_grid.scss */
.row:after {
  clear: both;
}

/* line 17, ../scss/_grid.scss */
.columns {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 26, ../scss/_grid.scss */
.small-1 {
  width: 8.33333%;
}

/* line 26, ../scss/_grid.scss */
.small-2 {
  width: 16.66667%;
}

/* line 26, ../scss/_grid.scss */
.small-3 {
  width: 25%;
}

/* line 26, ../scss/_grid.scss */
.small-4 {
  width: 33.33333%;
}

/* line 26, ../scss/_grid.scss */
.small-5 {
  width: 41.66667%;
}

/* line 26, ../scss/_grid.scss */
.small-6 {
  width: 50%;
}

/* line 26, ../scss/_grid.scss */
.small-7 {
  width: 58.33333%;
}

/* line 26, ../scss/_grid.scss */
.small-8 {
  width: 66.66667%;
}

/* line 26, ../scss/_grid.scss */
.small-9 {
  width: 75%;
}

/* line 26, ../scss/_grid.scss */
.small-10 {
  width: 83.33333%;
}

/* line 26, ../scss/_grid.scss */
.small-11 {
  width: 91.66667%;
}

/* line 26, ../scss/_grid.scss */
.small-12 {
  width: 100%;
}

/* line 3, ../scss/style.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/style.scss */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 13, ../scss/style.scss */
.section.top {
  border-bottom: 1px solid #f1f1f1;
}

/* line 18, ../scss/style.scss */
h1 {
  margin-top: 0;
}

/* line 22, ../scss/style.scss */
div > ul > li + li {
  margin-top: 12px;
}

/* line 26, ../scss/style.scss */
label {
  display: block;
}

/* line 30, ../scss/style.scss */
label + label {
  margin-top: 6px;
}
